h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
#logoutb
{
  margin-right:10px  !important;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: white;
  font-size: x-large;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

.tb_search
{
  padding: 10px;
  margin-right: 0px !important;
  width:30%;
  float: right;

}
#addreport
{
  float: right;
  color: #ffffff;
  background: #27b8b9;
  margin-right: 70px;
}
#search_input_all
{
width:100%;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 10px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: transparent;
  color: rgb(255, 255, 255);
  margin-right: 43px;
}
/* #logincontainer
{
  margin-top:15%;
  margin-bottom:10%;
  width:300px;
} */
/* #submit
{

} */
input:focus, textarea:focus, select:focus{
  outline: none;
}
input
{
  background: transparent;
  border-radius: 45px;
  border-color: white;
  border-style: double;
}
label
{
  color: #fff !important;
  font-weight:30;
}
.log-form {
  padding: 10px;
  
  width: 300px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: transparent;
  border: 1px solid #ebebeb;
  border-radius:45px;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.button {
  margin-top: 10px;
  padding:10px !important;
  width:100%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  
  background-color: #fff !important;
  color:linear-gradient(to right, #25c481, #25b7c4) !important;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  background: linear-gradient(to right, #25c481, #25b7c4) !important;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#err
{
  margin-top:20%;
  align: center;
  font-size: 50px;
  font-weight: 800;
  text-align: center;

}
input[type=file] {
  display: block;
  padding-left: 7px;}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.modlabel
{
  text-align: start;
  color: black;
}

.clrp
{
  background: linear-gradient(to right, #25c481, #25b7c4) !important;
}
.noborder
{
  border: none;
  border-radius:45px;
  background:transparent !important;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
section{
  margin: 70px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



